
<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Print Template Example</title>
        <link rel="stylesheet" href="./style.css" >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    </head>
    <body ng-app>
        
        <div id="header">
            <div style="font-size: 11px">
                <h1>Zio Paperone</h1>
                <div class="p-1">
                    Zio Paperone srl - via di Casa Mia - Paperopoli 12, (PP) - Tel. 0444/123456 - Fax. 0444/123456<br/>
                    info@ziopaperone.com - www.ziopaperone.com - Iscrizione Registro Imprese PP - C.F. - Partita IVA 1111111111
                </div>
            </div>
        </div>
       

        <div id="body">

                <h1>VERBALE DI ESECUZIONE ESEMPIO - RIEPILOGO ESEMPIO</h1>

                <div>
                    Verifica 2099 / 999
                    Fasi eseguite dal 11/11/2019 al 12/11/2019
                </div>
        
                <div>
                    Cliente: COSTRUZIONI TOPOLINIA SRL
                    Cantiere:
                    EDILTOPOLINIA S.R.L. DEPOSITO - SEDE VIA DEL BARATTO, 44 - 55555 - TOPOLINIA (TP)
                </div>
        
                <div>
                    Contratto verifiche visive accessori sottogancio
                </div>
        
        
                <div>
                    KIT EDI _generico matr. Ediltopolina GT 888-C1,5 matr 888888
                </div>

        

        </div>
        
        <div id="footer">
            <div style="font-size: 11px">
                <div class="p-1">
                    Zio Paperone srl - via di Casa Mia - Paperopoli 12, (PP) - Tel. 0444/123456 - Fax. 0444/123456<br/>
                    info@ziopaperone.com - www.ziopaperone.com - Iscrizione Registro Imprese PP - C.F. - Partita IVA 1111111111
                </div>
                <div >Pagina <span class="pageNumber"></span> di <span class="totalPages"></span></div>
            </div>
        </div>
        
        

        
    </body>
</html>